@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #212529;
  --light-white: #f4f4f4;
}
html {
  scroll-behavior: smooth;
}

nav {
  position: sticky;
  top: 0%;
}
nav li {
  position: relative;
  overflow: hidden;
}
nav a.active::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 150px;
  height: 2px;
  transform: translateX(-50%);
  background-color: black;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
nav li a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* home */
#home {
  background-image: linear-gradient(#000a, #000a), url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
}
.about_links li {
    background-color: rgba(0, 0, 0, 0.705);
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
/* About */
.img-bg::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-image: url(./images/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
/* Services */
.icon-inner {
  width: 70px;
  height: 70px;
  background-color: var(--light-white);
  transition: 0.3s;
}
.item:hover .icon-inner {
  background-color: var(--dark-color);
  color:var(--light-white) ;
}
.nums {
  width: 400px;
  display: flex;
}
.nums .num {
  flex: 1;
  text-align: center;
  font-size: 40px;
  padding: 20px;
}